.item-card {
    border: 1px solid black;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    
}

/* .img-wrapper {
    height: 250px;
    width: 300px;

} */

.item-card-img {
    height: 10rem;
    width: auto;
    /* object-fit: scale-down; */
}

.item-card-details {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.item-card-name {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.item-card-price {
    font-weight: bold;
    font-size: 20px

}