.cart-icon:after{
    content:'3';
    font-size:16px;
    font-weight: 700;
    background: #f17209;
    border-radius:50%;
    padding:5px;
    position:relative;
    left:-8px;
    top:-10px;
    opacity:0.9;
    color: white;
    }