html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.navbar {
  position: sticky;
  width: 100%;
  background-color: #61dafb;
  top: 0;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 50px;
  overflow: hidden;
}

.logo {
  justify-self: start;
}

.nav {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-self: end;
}

.selected {
  background-color: red;
}
